{% extends 'base.html.twig' %}

{% block title %} {{('user.newtitle'|trans)}} {% endblock %}

{% block body %}
    <h1>{{('user.title2'|trans)}}</h1>

    {{ include('utilisateur/_form.html.twig') }}

    <a href="{{ path('app_login') }}">{{('user.back'|trans)}}</a>
{% endblock %}
