{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-group">
        <div class="col-sm-12">
            <h1>{{'create.title'|trans}} :</h1>
            {{ form_start(form) }}

            <div class= "row">
                <div class = "col-md-4">
                   {{ form_row(form.ville_depart) }} 
                </div>
                <div class = "col-md-4">
                   {{ form_row(form.date_depart) }} 
                </div>
                <div class = "col-md-4">
                   {{ form_row(form.heure_depart) }} 
                </div>
            </div>

            <div class= "row">
                <div class = "col-md-4">
                   {{ form_row(form.ville_arrive) }} 
                </div>
                <div class = "col-md-4">
                   {{ form_row(form.date_arrive) }} 
                </div>
                <div class = "col-md-4">
                   {{ form_row(form.heure_arrive) }} 
                </div>
            </div>

            <div class= "row">
                <div class = "col-md-6">
                   {{ form_row(form.nbre_place) }} 
                </div>
                <div class = "col-md-6">
                   {{ form_row(form.nbre_place_dispo) }} 
                </div>
            </div>

            <div class= "row">
                <div class = "col-md-6">
                   {{ form_row(form.prix) }} 
                </div>
                <div class = "col-md-6">
                   {{ form_row(form.distance) }} 
                </div>
            </div>



            {{ form_widget(form) }}
            
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">{{'create.save'|trans}}</button>
        </div>
    </div>
   {{ form_end(form) }}

{% endblock %}