<div class="card" style="width: 15rem;">
  <div class="card-body">
    <h5 class="card-title">{{'list.Depart'|trans}}: {{ trajet.VilleDepart }}</h5>
     <h5 class="card-title"> {{'list.Destination'|trans}}: {{ trajet.VilleArrive }}</h5>
    <p class="card-text">{{'list.le'|trans}} {{ trajet.DateDepart|date('d:m:y') }} {{'list.prep'|trans}} {{ trajet.HeureDepart|date('h:m:i') }}</p>
	<p class="card-text">{{'list.place'|trans}}: {{ trajet.NbrePlace }}</p>
	<h5 class="card-title text-success" style="font-weight: bold; font-size: 1.5rem;">{{'list.Prix'|trans}}: {{ trajet.prix|number_format(0, ',', ' ') }} £</h5>
    <a href="{{ path('reservation.create', {id: trajet.id}) }}" class="btn btn-primary">{{'list.Reserver'|trans}}</a>
  </div>
</div>
<div>
<p>   </p>
</div>